/*.App {
  text-align: center;
  font-family: 'Bitter', serif;
font-family: 'Mulish', sans-serif;
font-family: 'Raleway', sans-serif;
}
*/
.app{
  min-height: 100%;
  background-color:  #e4ebe9;
}

.all {
  max-width: 1200px;
  margin:0 auto;
  background-color: #fffbf3;
}